body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background: var(--Identity-Primary, #DC0A2D);
}
.header {
    display: flex;
    flex-direction: row;
    gap :28px;

}
.header img{
    color :white;
}

h1 {
    color: white;
}

.filter {
    display: flex;
    flex-direction: row;
    gap : 28px;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color:white ;
}


.pokemonCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.pokemonCard img {
    width: 100px;
    height: 100px;
}

.pokemonType {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pokemonType span {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 2px;
}

/* Types de Pokémon */
.type-bug { background-color: #A7B723; color: white; }
.type-dark { background-color: #75574C; color: white; }
.type-dragon { background-color: #7037FF; color: white; }
.type-electric { background-color: #F9CF30; color: white; }
.type-fairy { background-color: #E69EAC; color: white; }
.type-fighting { background-color: #C12239; color: white; }
.type-fire { background-color: #F57D31; color: white; }
.type-flying { background-color: #A891EC; color: white; }
.type-ghost { background-color: #70589B; color: white; }
.type-grass { background-color: #74CB48; color: white; }
.type-normal { background-color: #AAA67F; color: white; }
.type-ground { background-color: #DEC16B; color: white; }
.type-ice { background-color: #9AD6DF; color: white; }
.type-poison { background-color: #A43E9E; color: white; }
.type-psychic { background-color: #FB5584; color: white; }
.type-rock { background-color: #B69E31; color: white; }
.type-steel { background-color: #B7B9D0; color: white; }
.type-water { background-color: #6493EB; color: white; }

/* Modale Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-header .close {
    margin-left: auto;
}

.modal-content img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: auto;
}

.modal-stats {
    margin-top: 20px;
}

.modal-stats div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
