body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background: var(--Identity-Primary, #DC0A2D);
}
.header {
    display: flex;
    flex-direction: row;
    gap:8px;
}

.header img{
    color: white;
}

h1 {
    color: white;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 4px;
}

.filter {
    display: flex;
    flex-direction: row;
    gap : 8px;
    width:100%;
}

#resetButton {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DC0A2D;
    color: white;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #B10A2D;
}

#searchInput, #typeFilter {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    border-radius: 0.5rem;
    padding: 1.5rem;
}


.pokemonCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.pokemonCard img {
    width: 100px;
    height: 100px;
}

.pokemonType span {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: capitalize;
}

/* Couleurs pour chaque type */
.pokemonType span.bug { background-color: var(--bug); }
.pokemonType span.dark { background-color: var(--dark); }
.pokemonType span.dragon { background-color: var(--dragon); }
.pokemonType span.electric { background-color: var(--electric); }
.pokemonType span.fairy { background-color: var(--fairy); }
.pokemonType span.fighting { background-color: var(--fighting); }
.pokemonType span.fire { background-color: var(--fire); }
.pokemonType span.flying { background-color: var(--flying); }
.pokemonType span.ghost { background-color: var(--ghost); }
.pokemonType span.grass { background-color: var(--grass); }
.pokemonType span.normal { background-color: var(--normal); }
.pokemonType span.ground { background-color: var(--ground); }
.pokemonType span.ice { background-color: var(--ice); }
.pokemonType span.poison { background-color: var(--poison); }
.pokemonType span.psychic { background-color: var(--psychic); }
.pokemonType span.rock { background-color: var(--rock); }
.pokemonType span.steel { background-color: var(--steel); }
.pokemonType span.water { background-color: var(--water); }

.pokemonType {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pokemonType span {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 2px;
}

/* Types de Pokémon */
.type-bug { background-color: #A7B723; color: white; }
.type-dark { background-color: #75574C; color: white; }
.type-dragon { background-color: #7037FF; color: white; }
.type-electric { background-color: #F9CF30; color: white; }
.type-fairy { background-color: #E69EAC; color: white; }
.type-fighting { background-color: #C12239; color: white; }
.type-fire { background-color: #F57D31; color: white; }
.type-flying { background-color: #A891EC; color: white; }
.type-ghost { background-color: #70589B; color: white; }
.type-grass { background-color: #74CB48; color: white; }
.type-normal { background-color: #AAA67F; color: white; }
.type-ground { background-color: #DEC16B; color: white; }
.type-ice { background-color: #9AD6DF; color: white; }
.type-poison { background-color: #A43E9E; color: white; }
.type-psychic { background-color: #FB5584; color: white; }
.type-rock { background-color: #B69E31; color: white; }
.type-steel { background-color: #B7B9D0; color: white; }
.type-water { background-color: #6493EB; color: white; }

/* Modale Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-header .close {
    margin-left: auto;
}

.modal-content img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: auto;
}

.modal-stats {
    margin-top: 20px;
}

.modal-stats div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-stats div span:first-child {
    font-weight: bold;
}

/* Styles spécifiques pour la modal de Pokémon */
.pokemon-modal-content {
    text-align: center;
}

.pokemon-modal-content .modal-header {
    background-color: #ffcb05;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
}

.pokemon-modal-content .pokemon-image {
    margin: 20px 0;
}

.pokemon-modal-content .about {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.pokemon-modal-content .about div {
    text-align: center;
}

.pokemon-modal-content .description {
    margin: 20px 0;
}

.pokemon-modal-content .base-stats {
    margin-top: 20px;
}

.pokemon-modal-content .base-stats div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pokemon-modal-content .base-stats div span {
    font-weight: bold;
}
